---
# handlers file for rke2
- name: Restart rke2
  when: rke2_started is undefined or not rke2_started.changed
  ansible.builtin.systemd:
    name: "rke2-{{ rke2_type }}"
    state: restarted
    enabled: true

# handlers file for rke2
- name: RebootNode
  ansible.builtin.reboot:
    msg: System going to be Rebooted
