# {{ ansible_managed }}
# Host to Connect and Auth Token
{% if rke2_server_active and not primary %}
server: https://{{ cluster_fqdn }}:9345
{% endif %}
token: {{ token }}

{% if rke2_type == "server" %}
# server Configuration Part
tls-san: {{ tls_san }}
cluster-cidr: {{ cluster_cidr}}
service-cidr: {{ cluster_cidr}}
bind-address: {{ bind_address }}
{% endif %}