# {{ ansible_managed }}
{% if ansible_selinux.status == 'enabled' %}
# enable selinux
selinux: true
{% endif %}
# Host to Connect and Auth Token
{% if not rke2_primary %}
server: https://{{ rke2_cluster_fqdn }}:9345
{% endif %}
token: {{ rke2_token }}
{% if rke2_metrics is true %}
kube-proxy-arg:
  - --metrics-bind-address=0.0.0.0:10249
{% endif %}
{% if rke2_type == "server" %}
# server Configuration Part
tls-san: {{ rke2_tls_san }}
cluster-cidr: "{{ rke2_cluster_cidr}}"
service-cidr: "{{ rke2_service_cidr}}"
{% if rke2_disable_service is defined %}
disable: {{ rke2_disable_service }}
{% endif %}
{% if rke2_cni is defined %}
cni: {{ rke2_cni }}
{% endif %}
{% if rke2_bind_address and rke2_bind_address != '0.0.0.0' %}
bind-address: {{ rke2_bind_address }}
{% endif %}
{% if rke2_node_taint is defined %}
node-taint: 
{% for node_taint in rke2_node_taint %}
  - "{{ node_taint }}"
{% endfor %}
{% endif %}
{% if rke2_metrics is true %}
etcd-expose-metrics: true
kube-scheduler-arg:
  - --bind-address=0.0.0.0
kube-controller-manager-arg:
  - --bind-address=0.0.0.0
kube-cloud-controller-manager-arg:
  - --bind-address=0.0.0.0
kube-proxy-arg:
  - --metrics-bind-address=0.0.0.0:10249
{% endif %}
{% endif %}